/* main section */
.cpm_investor_section {
    display: flex;
    flex-direction: row;
}

.cpm_investor {
    width: 1300px;
}

/* main heading of the page */
.cpm_investor_heading {
    text-align: center;
}

/* name of the investor */
.cpminvestor_title {
    text-align: center;
}

/* description by the investor */
.cpm_investor_content {
    width:1100px;
    margin-left: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

.cpm_investor_foundedin {
    margin-left: 50px;
    /* text-align:center; */
}
.cpm_investor_type{
    margin-left: 50px;

}