/* General styling for frontend (public) */

.cpm-form-container {
  max-width: 600px;

  margin: 20px auto;

  padding: 20px;

  border: 1px solid #ddd;

  border-radius: 5px;

  background: #f9f9f9;
}

.cpm-form-container label {
  display: block;

  margin-bottom: 5px;

  font-weight: bold;
}

.cpm-form-container input[type="text"],
.cpm-form-container input[type="date"],
.cpm-form-container input[type="file"],
.cpm-form-container textarea,
.cpm-form-container select {
  width: 100%;

  padding: 10px;

  margin-bottom: 15px;

  border: 1px solid #ccc;

  border-radius: 5px;

  box-sizing: border-box;
}

.cpm-form-container input[type="submit"] {
  background-color: #4caf50;

  color: white;

  padding: 10px 20px;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

.cpm-form-container input[type="submit"]:hover {
  background-color: #45a049;
}

/* Ensure Select2 styling is consistent */

.cpm-select2-container {
  width: 100% !important;
}

/* css for capital */
.usd_capital_public {
  display: flex;
  align-items: center;
}

.usd_capital_public i {
  margin-right: 8px; /* Adjust the spacing between the icon and the input field */
}

.usd_capital_public input[type="number"] {
  flex: 1; /* Adjusts the input field to take the remaining space */
}

/* new form with radio button */
#cpm_radio_buttons_form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cpm_radio_buttons_form label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

#cpm_radio_buttons_form .radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#cpm_radio_buttons_form .radio-option input[type="radio"] {
  margin-right: 10px;
}

#cpm_radio_buttons_form input[type="submit"] {
  background-color: #0073aa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

#cpm_radio_buttons_form input[type="submit"]:hover {
  background-color: #005d8a;
}
