/* General styling for both frontend and backend */
.cpm-form-container,
.cpm-meta-box-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

.cpm-form-container label,
.cpm-meta-box-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.cpm-form-container input[type="text"],
.cpm-form-container input[type="date"],
.cpm-form-container input[type="file"],
.cpm-form-container textarea,
.cpm-form-container select,
.cpm-meta-box-container input[type="text"],
.cpm-meta-box-container input[type="date"],
.cpm-meta-box-container input[type="file"],
.cpm-meta-box-container textarea,
.cpm-meta-box-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cpm-form-container input[type="submit"],
.cpm-meta-box-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cpm-form-container input[type="submit"]:hover,
.cpm-meta-box-container input[type="submit"]:hover {
  background-color: #45a049;
}

/* Ensure Select2 styling is consistent */
.cpm-select2-container {
  width: 100% !important;
}

/* Add some margin to the image preview */
.cpm-meta-box-container img {
  display: block;
  margin-top: 10px;
}

/* Adjust layout for specific fields */
.cpm-meta-box-container label,
.cpm-meta-box-container input,
.cpm-meta-box-container select,
.cpm-meta-box-container textarea {
  display: block;
  margin-bottom: 10px;
}

.cpm-meta-box-container input[type="text"],
.cpm-meta-box-container input[type="date"],
.cpm-meta-box-container input[type="file"],
.cpm-meta-box-container textarea,
.cpm-meta-box-container select {
  width: calc(100% - 20px); /* Adjust width for padding */
}

.cpm-meta-box-container input[type="submit"] {
  width: auto; /* Adjust width for submit button */
}

/* Clear floats for labels and inputs */
.cpm-meta-box-container::after {
  content: "";
  display: block;
  clear: both;
}

/* css for capital */
.usd_capital {
  display: flex;
  align-items: center;
}

.usd_capital i {
  margin-right: 8px; /* Adjust the spacing between the icon and the input field */
  vertical-align: middle; /* Vertically align the icon to the middle */
}

.usd_capital input[type="number"] {
  flex: 1; /* Adjusts the input field to take the remaining space */
}
