.investors-archive {
  padding: 20px;
}

.investors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
}

.investor-item {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.investor-item a {
  text-decoration: none;
  color: inherit;
}

.investor-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.investor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.investor-logo img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  width: 100%; /* Ensure images cover the width of the container */
  height: 150px; /* Ensure a consistent height */
  object-fit: contain; /* Make sure the image fits within the container */
}

.investor-title {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

/* for filter search form */
#searchform{
  display:flex;
  flex-direction:row
}