/* Main container for the investors archive */
.investors-archive {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 1200px; /* Set a max-width to limit the width of content */
  margin: 0 auto; /* Center align the content */
}

/* Search filters styling */
.investors-archive h3 {
  margin-top: 0;
}

.filter-search {
  margin-bottom: 20px; /* Add space below the filter section */
}

.filter-search form {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}

.filter-search input {
  /* flex: 1; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-search button {
  padding: 10px 20px;
  background-color: #0073aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-search button:hover {
  background-color: #005177;
}

/* Grid layout for investors */
.investors-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.investor-item {
  flex: 1 1 calc(33.333% - 20px); /* Ensure each item takes up 33% with gaps in between */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  margin-bottom: 20px; /* Add space below each item */
  max-width: calc(33.333% - 20px); /* Limit max-width to maintain uniformity */
  min-width: calc(
    33.333% - 20px
  ); /* Ensure minimum width to prevent shrinking */
}

.investor-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.investor-container {
  padding: 20px;
}

.investor-logo img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.investor-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.investing-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
}

i.active-investing {
  color: green;
}

i.relaxed-investing {
  color: grey;
}
